.currencySearchModalBody {
	// padding: var(--offset-lg);
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.tokenSection {
	padding: 4px 20px;
	height: 56px;
	display: grid;
	grid-template-columns: auto minmax(auto, 1fr) auto;
	grid-gap: 10px;
	align-items: center;
	grid-gap: 16px;
	// opacity: ${({ dim }) => (dim ? '0.4' : '1')};

	// 	${({ theme }) => theme.mediaQueries.md} {
	// 		grid-gap: 16px;
	// 	}
}

.nameOverflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 140px;
}

.fixedContentRow {
	padding: 4px 20px;
	height: 56px;
	display: grid;
	grid-gap: 16px;
	align-items: center;
}

.currencyMenuItem {
	// padding: 4px 20px;
	// height: 56px;
	display: grid;
	grid-template-columns: auto minmax(auto, 1fr) minmax(0, 72px);
	grid-gap: 8px;
	cursor: pointer;
	&:hover {
		background-color: var(--same-color-theme-10);
	}
	opacity: 1;
}

.currencyMenuItemDisabled {
	cursor: not-allowed;
	pointer-events: none;
	&:hover {
		background-color: transparent;
	}
	opacity: 0.5;
}

.balanceText {
	padding: 4px 20px;
	height: 56px;
	display: grid;
	grid-gap: 16px;
	align-items: center;
}
.rowWrapper {
	// background-color: ${({ active, theme }) => (active ? `${theme.colors.success}` : 'transparent')};
	border: solid 1px;
	//   border-color: ${({ active, theme }) => (active ? theme.colors.success : theme.colors.tertiary)};
	transition: 200ms;
	align-items: center;
	padding: 1rem;
	border-radius: 20px;
}

.textDot {
	height: 3px;
	width: 3px;
	background-color: 'transparent';
	border-radius: 50%;
}

.baseWrapper {
	// border: 1px solid ${({ theme, disable }) => (disable ? 'transparent' : theme.colors.dropdown)};
	border-radius: 10px;
	display: flex;
	padding: 6px 10px;

	align-items: center;
	:hover {
		cursor: pointer;
	}
}
