.currencySearchModalBody {
    padding: var(--offset-lg);
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.tokenSection {
	padding: 4px 20px;
	height: 56px;
	display: grid;
	grid-template-columns: auto minmax(auto, 1fr) auto;
	grid-gap: 10px;
	align-items: center;
	grid-gap: 16px;
	// opacity: ${({ dim }) => (dim ? '0.4' : '1')};

// 	${({ theme }) => theme.mediaQueries.md} {
// 		grid-gap: 16px;
// 	}
}

.nameOverflow {
	white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  max-width: 140px;
	  font-size: 12px;
}