.contentLayout {
    display: grid;
	grid-template-columns: 300px 1fr;
	grid-gap: 1em;
	margin-top: 16px;
	@media screen and (max-width: 800px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.tokenButton {
	padding: 8px 0px;
	margin-right: 16px;
	:hover {
		cursor: pointer;
		opacity: 0.6;
	}
}

.lockedTokenContainer {
	border: 1px solid var(--border-color);
	// background-color: ${({ theme }) => theme.colors.background};
	padding: 16px;
	
	gap: 8px;
	margin-top: 8px;
	border-radius: 16px;
	max-width: 280px;
	
}