.link {
	text-decoration: none;
	cursor: pointer;
	// color: ${clsx('')};
	font-weight: '500';

	:hover {
		text-decoration: underline;
	}

	:focus {
		outline: none;
		text-decoration: underline;
	}

	:active {
		text-decoration: none;
	}
}
