// ------------------------- ModalInput -------------------------
.tokenInput {
	display: flex;
	flex-direction: column;
	background-color: var(--same-color-theme-30);
	border-radius: 16px;
	padding: 8px 16px 8px 0;
	width: 100%;
}

.input {
	box-shadow: none;
	width: 60px;
	margin: 0 8px;
	padding: 0 8px;
	border: none;

	@media only screen and (max-width: 370px) {
		width: 80px;
	}

	@media only screen and (max-width: 576px) {
		width: auto;
	}
}

.errorMessage {
	position: absolute;
	bottom: -22px;
	a {
		display: inline;
	}
}
// ------------------------- ModalInput -------------------------
