$backgroundHover: rgba(var(--contrast-color-theme--raw), 0.05);
.item {
	position: relative;
	width: 200px;
	&:hover {
		.subItem {
			visibility: visible;
			opacity: 1;
		}
	}
}

.subItem {
	position: absolute;
	top: 100%;
	width: 200px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	//
	/* White Color/100 */
	border: 1px solid var(--border-color);
	box-shadow: 2px 12px 16px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(12px);
	border-top: 0;

	& > div:first-child {
		border-top-left-radius: var(--radius-lg);
		border-top-right-radius: var(--radius-lg);
	}

	& > div:not(:last-child) {
		border-bottom: 1px solid var(--border-color);
	}

	& > div:last-child {
		border-bottom-left-radius: var(--radius-lg);
		border-bottom-right-radius: var(--radius-lg);
	}

	& > div:hover {
		background: rgba(255, 255, 255, 0.1);
	}
}
