.swapContainer {
	flex-shrink: 0;
	height: fit-content;
	padding: 0 24px;

	@media screen and (max-width: 968) {
		padding: 0 40px;
	}
}

.switchIconButton {
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.1);

	.iconUpDown {
		display: none;
	}

	&:hover {
		background-color: var(--secondary-color-normal);

		.iconDown {
			display: none;
			fill: white;
		}

		.iconUpDown {
			display: block;
			fill: white;
		}
	}
}
.inputCurrencyWrapper {
	width: 328px;
}
